<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.umich.dstudio">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


    <uses-feature android:name="android.hardware.camera2" />

    <application
        android:name="edu.umich.dstudio.DStudioApplication"
        android:allowBackup="true"
        android:icon="@drawable/launcher_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:replace="theme"
        android:theme="@style/AppTheme">

        <!-- Primary screen related stuff - where actions that can be taken are shown -->
        <activity android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>

        <!-- Secondary screen related stuff - where all data addition happens -->
        <activity android:name=".ui.addDataActivity.MoodEntryActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity android:name=".ui.addDataActivity.NoteEntryActivty"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity android:name=".ui.addDataActivity.AddCameraPhotoActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity android:name=".ui.addDataActivity.AddGalleryPhotoActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>

        <!-- Login and create account related stuff - anything that happens before primary screen -->
        <activity android:name=".ui.LoginActivity">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.CreateAccountActivity"
            android:label="@string/title_activity_create_account"
            android:parentActivityName=".ui.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.LoginActivity" />
        </activity>

        <!-- Activities included from third party libraries -->
        <activity android:name="com.desmond.squarecamera.CameraActivity" />

    </application>

</manifest>
